.App {
  width: 100vw;
  height: 100vh;
  display: flex;

}

.sider{
  width: 280px;
  flex-shrink: 0;
  background-color: #eee;
  display: flex;
  flex-direction: column;
}

.sider header {
    box-sizing: border-box;
    width: 100%;
    display: block;
    text-decoration: none;
    background-color: #222;
    color: #FFF;
    height: 48px;
    line-height: 48px;
    font-size: 14px;
    padding-left: 32px;
    font-weight: bold;
    letter-spacing: 0.05em;
    white-space: nowrap;
    word-break: keep-all;
    overflow: hidden;
    text-overflow: ellipsis;
}
@media (max-width: 960px) {
    .sider{
        width: 32px;
        transition: width 0.5s;
    }
    .sider:hover{
        width: 280px;
    }
    .sidermain{
        display: none;
    }
    .sider header span{
        display: none;
    }
    .sider:hover .sidermain{
        display: block;
    }
    .sider:hover header span{
        display: inline;
    }
}
.sider .sidermain{
  flex-grow: 1;
  overflow-y: auto;
  padding: 16px 0;
}

.sidermain a{
  position: relative;
  z-index: 100;
  box-sizing: border-box;
  width: 100%;
  display: block;
  text-decoration: none;
  color: #222;
  height: 36px;
  line-height: 36px;
  font-size: 14px;
  padding: 0 32px;
  white-space:nowrap;
  word-break:keep-all;
  overflow:hidden;
  text-overflow:ellipsis;
  transition: all 0.5s;
  min-width: 100%;
}

.sidermain a:hover{
  background: #bbb;
  box-shadow: 0 0 5px #00000033;
}

.sidermain .selected{
  background: #ccc
}

.main{
  flex-grow: 1;
  flex-shrink: 1;
}
.chart{
  width: 100%;
  height: 100%;
}

.options-buttons{
  visibility: hidden;
  position: absolute;
  bottom: 16px;
  right: 16px;
  z-index: 100;
  color: #FFFFFF;
  background-color: #666666;
  border-radius: 10px;
  padding: 3px;
}

.options-buttons .icon{
  visibility: visible;
  position: absolute;
  box-sizing: border-box;
  bottom: 0;
  right: 0;
  z-index: 100;
  border: 10px solid #666666;
  color: #FFFFFF;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 20px;
}

.options-buttons .icon .iconinner{
  position: absolute;
  margin: -1px 0;
  padding: 0;
  width: 20px;
  height: 20px;
  z-index: 101;
  transform: translateX(-50%) translateY(-50%);
    line-height: 20px;
}

.options-buttons:hover{
  visibility: visible;
}

.options-buttons:hover .icon{
  visibility: hidden;
}

.options-buttons a{
  height: 32px;
  line-height: 32px;
  width: 72px;
  text-align: center;
  font-size: 14px;
  color: #FFFFFF;
  display: block;
  text-decoration: none;
}

.root{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.root h1{
    font-variant-caps: petite-caps;
    font-weight: 100;
    color: #000;
    font-size: 3rem;
    border-bottom: 1px solid #000;
    padding-bottom: 4px;
    margin: 12px;
}
.root h3{
    font-weight: 300;
    color: #000;
    margin: 0;
}

.admin{
    padding-left: 32px;
    padding-right: 40%;
}

.admin input{
    display: block;
    box-sizing: border-box;
    margin: 16px 0;
    width: 100%;
    padding: 6px 8px;
    border: 1px solid #bbbbbb;
    border-radius: 2px;
}

.admin button{
    box-sizing: border-box;
    background: #cccccc;
    border: none;
    padding: 8px;
    width: 100%;
    border-radius: 2px;
}
.admin h2{
    font-weight: lighter;
}